body {
    display: flex;
    flex-direction: column; /* Stack header and content vertically */
    justify-content: flex-start; /* Align items to the top */
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

.brain-container {
    position: relative;
    width: 800px;
    max-width: 90%;
}

.brain-image {
    width: 100%;
    height: auto;
}

.brain-button {
    position: absolute;
    background-color: rgba(0, 102, 204, 0.7);
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: normal;
    transition: background-color 0.3s;
    white-space: nowrap;
}

.brain-button:hover {
    background-color: rgba(0, 102, 204, 1);
}

.frontal {
    top: 15%;
    left: 70%;
}

.parietal {
    top: 15%;
    left: 30%;
}

.temporal {
    top: 50%;
    left: 65%;
}

.occipital {
    top: 40%;
    left: 10%;
}

.cerebellum {
    bottom: 5%;
    left: 20%;
}

h1 {
    color: white;
    font-size: 6em;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    letter-spacing: 0.03em; /* Increase space between letters */
    font-weight: 301; /* Make the title skinnier */
    word-spacing: 0.2em; /* Add more space between words */
}

h1, h2, h3, h4, h5, h6, p, a, .brain-button {
    font-family: 'Montserrat', sans-serif;
}
